.wrapper {
    background-color: #948979;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  .links {
    display: flex;
    gap: 1rem;
  }
  
  .links a {
    color: var(--primary-text-color);
  }
  .logo {
    font-size: 1.8rem;
    color: var(--primary-text-color);
  }