.form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: auto;
    margin-top: 6rem;
    width: 28rem;
  }
  
  .form input {
    padding: 0.4rem;
  }
  
  .form button {
    padding: 0.4rem;
  }
  


  .home_container{
    display: flex;
    flex-direction: column;
  }